body {
    background-color: #26a69a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    color: #dcd8d8;
}

#AddEvent{
    margin: 0px;
    padding: 10px;
}

label { display: block; font-weight: bold; margin-bottom: 5px; font-size: 0.9rem; }

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.btn-main {
    background-color: #11c7b5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-main:hover { background-color: #00695c; }

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.event-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #00897b;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#emptyMsg { text-align: center; color: #777; margin-top: 50px; }